.b
{
    width:100%;
    margin:0;
    background-color:#f7f7f7;
    background:url("images/bg.jpg");
    background-size:100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

.b-page
{
    background-color:#f7f7f7;
    margin: 50px 400px;
}    

.b-page__line
{
    background-color:#f7f7f7;  
    margin: 0 auto;
}

.b-logo__img 
{
    width: 70px;
    height: 50px;
    margin: 8px auto; 
    padding-left: 5px;
}

.b-head
{
    height:70px;
    background-color: white;
}

.b-head__logo
{
    float: left;    
}

.b-head__sitename
{
    float:left;
}

.b-head__sitename
{
    margin: 10px 0;
}

.b-sitename__site
{
    font-size: 18px;
    font-weight: bold;
    color: #204245;
}

.b-sitename__name
{
    font-size: 18px;
    color: coral;
}

.b-sitename-subtext
{
    font-size: 12px;
    color: grey;
}

.b-head__menu
{
    float:right;
    margin: 10px auto;
 
}

.b-link
{
    color:#525252;
    font-size:12px;
    font-weight: bold;
    text-decoration: none;
        
}

.b-menu
{
    margin-top:10px;
    padding:0;
    list-style:none; 
    display:table;
    table-layout: fixed;   

}

.b-link_menu
{
    text-align:center;
    color:#bfbfbf;
    cursor:pointer;
    font-size:14px;
    height:28px;
    padding: 0 10px;
    background-color: white;
    line-height:28px;
    border-left: 1px solid #e7e7e7;
    display:table-cell;
    text-decoration: none;
}

.b-link_menu_active
{
    color:#29c5e6;
    border: none;
    text-align:center;
    font-weight: bold;
    cursor:pointer;
    font-size:14px;
    height:28px;
    padding: 0 10px;
    background-color: white;
    line-height:28px;
    display:table-cell;
    text-decoration: none;
}

.headerpage
{
    background-color:#dcdcdc;
    height: 350px;
    width: 100%;
}

.headerpage__image
{
    float:left;
    width: 50%;
}

.headerpage__image__iphone
{
    height: 325px;
    margin-top: 25px;
    margin-left: 80px;
}

.headerpage__article
{
    float:right;
    color: white;
    width: 50%;
    height: 100%;
}

.headerpage__article__first-line
{
    margin: 70px 0 10px 0;
    color: #204245;
    font-size: 26px;
}

.headerpage__article__second-line
{
    margin: 0px 0 10px 0;
    color: #204245;
    font-size: 34px;
    font-weight: bold;
}

.headerpage__article__paragraph
{
    color: #7a6e6e;
    font-size: 18px;
}

.headerpage__article__link
{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px; 
}

.headerpage-more-info
{
    background-color: coral;
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.articles
{
    background-color: #29c5e6;
    display: table;
    width:100%;
}

.article-content
{
    color: white;
    display: table-cell;
    padding: 40px 25px;
}

.article-content-icon
{
    float:left;
    width:30%;
    height: 150px;
}

.article-content-text
{
 height: 150px;
 float: left;
 width: 70%;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.article-icon
{
    width: 70px;
    height: 70px;
    margin:  0px auto;
    border-radius: 50%;
}

.article-content-text-firstline
{
    color: white;
    font-size: 18px;
    
}

.article-content-text-secondline
{
    color: white;
    font-size: 13px;
}

.read-more-icon
{
    width: 15px;
    height: 15px;
    border-radius: 50%;   
    margin-left:5px;
    vertical-align: middle;
}

.b-link-read-more
{
    color:#525252;
    font-size:14px;
    text-decoration: none;
    color: white;
    font-weight: bold;;
        
}



.b-main
{
    margin: 10px;
    background-color: white;
}


.b-company-main
{
    height: 450px;
    margin: 20px 0;
}

.b-company
{
    width:62%;
    display: inline-block;

}

.b-company__content
{
    margin-top:15px;
    margin-bottom:80px;
}
.b-content__img
{
    float:left;
    margin: 5px 20px;
    width: 150px;
    height: 150px;
    border-radius: 5px;
   
}

.b-content__header
{
    font-size: 18px;
    color: #204245;
    font-weight: bold;
    margin-bottom: 10px;
}

.b-content__text
{
    color: grey;
    font-size:13px;
}

.b-content__link
{
    padding-top: 10px;
}

.b-content__link-more
{
    background-color: coral;
    color: white;
    padding: 8px 10px;
    font-family: Arial;
    border-radius: 3px;
    text-decoration: none;
}

.b-link,.b-content__link
{
    color:#525252;
    font-size:12px;
        
}

.aside
{
    float: right;
    width: 35%;
    margin-top: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

.b-slide
{
    padding: 20px;
}

.b-slide__header
{
    font-size: 18px;
    color: #29c5e6;
    font-weight: bold;
}

.b-slide__subtext
{
    font-size: 14px;
    color: white;
}

.slider
{
    float: left;
    width: 89%;
}

.slider__list__point
{
    display: inline-block;
    padding: 5px 20px;
    border: 2px solid #d1d1de;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: grey;
    font-weight: bold;
}

.slider__list__point_active
{
    color: coral;
    background-color: #204245;
    border: 2px solid #204245;
    
}

.slider__current
{
    width: 100%;
    background-color: #204245;
    border: 2px solid #204245;
}

.aside__container
{
    width: 90%;
    border: 1px solid #c5c7c7;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    float: left;
    padding: 15px 0;
}

.aside-link-image
{
    display: inline-block;
}

.aside-link
{
    padding: 0px 10px;
}

.aside-link-text
{
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    padding-left: 5px;
}

.aside-image
{
    width: 20px;
    height: 10px;
    margin-left: 10px;
}

.hr
{
    margin: 0px auto;
    width: 95%;
}

.hr__aside
{
    width: 85%;
}


.praecent
{
    background-color: coral;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.praecent__text
{
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
}

.praecent__subtext
{
    width: 100%;
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
}

.vestibulum
{
    text-align: center;
}

.vestibulum__text
{
    font-size: 28px;
    font-weight: bold;
    color: #204245;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
}

.vestibulum__subtext
{
    font-size: 18px;
    color: #29c5e6;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment
{
    width: 100%;
    margin-top: 20px;
    display: inline-block;
}

.comment-section
{
    width: 50%;
    display:inline-block;
}

.comment__date
{
    float: left;
    margin: 0 30px;
    margin-bottom: 50px; 
    color: white;
    font: Arial;
}

.comment-image
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    
}

.comment__title
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: #204245;
}

.comments__number
{
    font-size: 13px;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 5px;
}

.comment-content-paragraph
{
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: grey;
}

.date-number
{
    background-color: #29c5e6;
    font-size: 36px;
    padding: 3px 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.date-month
{
    padding: 3px 15px;
    background-color: #29c5e6;
    font-size: 20px;
    margin-top: 3px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.excerption-section
{
    float: right;
    width: 50%;
    
}

.excerption
{
    background-color: #d1d1de;
   
    margin: 20px 20px 30px 20px;
    border-radius: 5px;
}

.excerption-image
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: right;
    margin: 35px 25px;
}

.excerption__author
{
    color: coral;
    font-size: 14px;
    font-weight: bold;
}

.excerption__content
{
    padding: 30px 20px;
    color: grey;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.footer
{
    background-color: #29c5e6;
}

.footer-menu
{
    display: table;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}

.footer-menu__item
{
    display: table-cell;
    padding: 40px 30px;
    
}

.item-text-main
{
    font-size: 20px;
    padding: 10px 0;
}

.item-text-point
{
    padding: 5px 0;
    font-size: 12px;
}

.b-link-footer
{
    text-decoration: none;
    color: inherit;
}

.footer__info
{
    color: white;
    font-family: Arial;
    font-size: 14px;
    width: 100%;
    
}

.license
{
    padding: 30px 20px;
    display: inline-block;
}

.social-networks
{
    margin-top: 20px; 
    float: right;
    width: 10%;
}


.footer-image
{

    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px; 
}